{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<script src="{% static 'js/javascript.js' %}"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Portfolio Sharing{% endblock %}</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>
     <header>
        <div class="navbar-brand">
            <a href="/">Alfint</a>
        </div>

        <div class="navbar-search">
            <div class="field has-addons">
                <div class="control">
                    <input id="stock-search" class="input" type="text" placeholder="Search stocks..." aria-label="Search" autocomplete="off">
                </div>
            </div>
            <ul id="suggestions-list" class="dropdown-menu" style="display: none;"></ul>
        </div>

        <div class="logout-btn">
    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="logout-btn-button">Logout</button>
    </form>
</div>

    </header>

  <div class="sidebar">
    <h2>Menu</h2>
    <a href="/create_portfolio" class="create-portfolio">
        <i class="fas fa-plus-circle"></i><span>Create Portfolio</span>
    </a>
    <a href="/filter" class="use-filter">
        <i class="fas fa-filter"></i><span>Use Filter</span>
    </a>
    <a href="{% url 'user_portfolios' %}" class="your-portfolios">
        <i class="fas fa-briefcase"></i><span>Your Portfolios</span>
    </a>
</div>

    <div class="main-content">
        {% block content %}{% endblock %}
    </div>

</body>
</html>

